@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #121212;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: #333;
}

.div_scroll::-webkit-scrollbar{
    width: 10px;
}

.div_scroll::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: #444;
}

.div_shadow{
    -webkit-box-shadow: 0px 10px 28px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 28px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 28px 5px rgba(0,0,0,0.75);
}

.anim_menu{
    animation: myAnim .2s ease 0s 1 normal forwards; 
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.anim_menu_reverse{
	animation: myAnimRev .2s ease 0s 1 normal forwards;
}

@keyframes myAnimRev {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.post_anim{
	animation: myAnimPost .2s ease 0s 1 normal forwards;
}

@keyframes myAnimPost {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}